body {

	background-color: #424242;
	background-size: cover;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #010101;

	margin: 30px;

	overflow-x: hidden;

}

body.no-scroll {
	overflow: hidden;
}

iframe {
	border: 0;
}
table {
	font-size: 24px;
}

.main__splitter {
	margin: 0 0 20px;
  	height: 1px;
  	border: 0;
 	background-color: #303030;

	opacity: .5;
}

textarea {
	resize: none;
}
ul {
	margin: 0;
}
li {
	display: inline;
	list-style-type: none;
}
td {
	font-weight: bold;
}
td>a {
	font-weight: normal;
	text-decoration: none;
	color: inherit;
}
td>a:hover {
	text-decoration: underline;
}


/* Main */
.main {

	max-width: 1080px;
	margin: 40px auto;
	box-shadow: 0 0 15px #000;
	border-radius: 26px;	
	
}
.page {
	display: flex;
	flex-direction: row-reverse;
}

.page.page--contacts {
	display: block;
}
.container {
	display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.container.container--contacts {
	flex-direction: column;
}
.header {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 50px;

	background-color: hsla(0, 0%, 0%, 0);

	position: absolute;
	top: 40px;
	left: 0;

}

/* Navigation */

.nav {
	display: flex;
	align-items: center;

	margin: 0 40px;
}


.nav__link {
    padding: 17px 10px;
    margin-right: 10px;
    background-color: #111;

	text-decoration: none;
    text-align: center;
	color: #4dfb3a;
	font-weight: bold;

	border-radius: 14px;

	cursor: pointer;

	transition: all .2s linear;
}
.nav__link:nth-child(4) {
	margin-right: 0;
}

.nav__link:hover {

    background-color: rgba(0, 0, 0, 0.37);
	transition: all .2s linear;

}

/* Main Content */
.main-content {
	background: linear-gradient(135deg, #5452ee, #3ce4e7, #23a6d5, #2623d5);
	background-size: 200% 200%;
	padding: 130px 40px;
	border-radius: 0 26px 0 0;
	position: relative;
	animation: gradient 2s linear infinite alternate;
	height: 100vh;
}

.main-content.main-content--contacts {
	border-radius: 26px 26px 0 0;
}
.about {
	width: 100%;
	margin-bottom: 40px;
}
.about-subtittle {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 17px;
	margin: 0;
	margin-bottom: 19px;
}
.about-tittle, .contacts__tittle {
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 55px;
	margin: 0;
	padding-bottom: 24px;
}
.about-content {
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
}

/* Work */
.work {
    width: 100%;
    margin-bottom: 30px;
}
.work-tittle {
	margin: 0;
	margin-bottom: 12px;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}

.work-position {
    display: flex;
    margin: 0;
    margin-bottom: 11px;
    font-style: normal;
    font-weight: bold;
	
    font-size: 16px;
    line-height: 20px;
    justify-content: space-between;
}
.work-place {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: right;

	color: #4dfb3a;
	text-shadow: 0 0 3px #000;
}
.work-period {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #f8f8f8;
	margin-bottom: 20px;

	text-shadow: 0 0 3px #000;
}


/* Education */
.education {
	width: 100%;
}
.education-tittle {
	margin: 0;
	margin-bottom: 12px;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}
.education-place {
	margin: 0;
	margin-bottom: 11px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #4dfb3a;
    text-shadow: 0 0 3px #000;
}
.education-speciality {
	margin: 0;
	margin-bottom: 12px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
.education-period {
	margin: 0;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #f8f8f8;

	text-shadow: 0 0 3px #000;
}
/* Sidebar */
.sidebar {
	background-image: linear-gradient(180deg, #020202, #000);
    color: #fff;
    border-radius: 26px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

	padding: 0 30px;

}
/* Sidebar Photo */
.sidebar__me {
	margin: 0 auto;
}
.sidebar__splitter {
	width: 100%;
	margin: 20px 0 20px;
  	height: 1px;
  	border: 0;
 	background-color: #cfcfcf;
	opacity: .2;
}

.sidebar-photo {
	margin: 40px 0;
	border-radius: 25%;
}


.contacts {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	line-height: 1.5;

}
.contacts h3 {
	font-size: 22px;
	font-weight: 700;
}
.contacts__inner {
	display: flex;
	flex-direction: column;
}

.contacts__item {
	display: flex;
	justify-content: space-between;
}

.contacts-link {
	text-decoration: none;
	font-size: 14px;
	color: #4dfb3a;
	margin-left: 12px;
	opacity: .7;

	transition: all .2s linear;
}
.contacts-link:hover {
	opacity: 1;

	transition: all .2s linear;

	transform: scale(1.05);
}

.contacts__map {
	display: flex;
	justify-content: center;

	
}
.contacts--page {
	margin-bottom: 40px;
}

.map {
	border-radius: 26px;
	opacity: .5;

	transition: opacity .2s linear;
}

.map:hover {
	opacity: 1;

	transition: opacity .2s linear;
}

.skills {
	width: 100%;
	/* max-width: 235px; */

	display: flex;
	justify-content: space-around;
	width: 100%;
}



.tech-skills ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	line-height: 2;
}
.tech-skills li {
	list-style: none;
}

.tech-skills li::before {
	content: "•";
	font-weight: 700;
	color: #50fb3a;

	padding-right: 10px;
}


.soft-skills ul {
	display: flex;
	flex-direction: column;

	padding: 0;
	line-height: 2;
}
.soft-skills li {
	list-style: none;
}

.soft-skills li::before {
	content: "•";
	font-weight: 700;
	color: #50fb3a;

	padding-right: 10px;
}

/* Social Icons */

.social__inner {
	display: flex;
	justify-content: space-around;
	width: 100%;

	margin-bottom: 20px;
}

.social__item {
	width: 50px;
	height: 50px;
}
.social__icon {
	display: block;
	margin: auto auto;
	margin-top: 10px;

	opacity: .5;
	transition: all .2s linear;

}

.social__icon:hover {
	opacity: 1;
	transition: all .2s linear;

	transform: scale(1.3);

}

.hello {
	display: flex;
	width: 100%;

	justify-content: center;

	margin-bottom: 40px;
}

/* Footer */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 60px;

	background-color: #111;

	border-radius: 0 0 26px 26px;
    border-top: 1px solid #1a1a1a;

	text-align: center;

}
.footer__text {
	margin: 0;
	color: #383838;
}
/* Button */
.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 15px 45px;
	position: relative;
	overflow: hidden;

	background-color: #333;
	border: none;
	border-radius: 14px;


	color: #fff;
	text-align: center;
	line-height: 1.1;
	cursor: pointer;
	text-decoration: none;
}

.btn:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;

	background-color: #000;
	opacity: 0;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	transition: opacity 0.2s linear;
}
.btn span {
	position: relative;
	z-index: 2;
}
.btn:hover:before {
	opacity: 0.3;
}

/* Modals */

.modal {
	display: none;

	width: 100%;
	height: 100%;
	/* padding: 30px 15px; */
	overflow-y: auto;

	background-color: rgba(0, 0, 0, 0.9);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
}
.modal.show {
	display: block;
}
.modal__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}
.modal__content {
	width: 100%;
	max-width: 400px;
	padding: 25px;

	position: relative;

	background-color: #cfcfcf;
	border-radius: 26px;
	transform: scale(0.5);
	opacity: 0;
	transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.modal__text {
	font-size: 48px;
	text-align: center;
}

.modal__close {
	width: 20px;
	height: 20px;

	position: absolute;
    top: 13px;
    right: 20px;

	background: none;
	border: none;

	cursor: pointer;

	transition: transform 0.1s linear;
	filter: invert(100%);
}
.modal__close:focus {
	outline: none;
}
.modal__close:hover {
	transform: scale(1.2);
}


/* Form */

.input {
	display: block;
	width: 100%;
	padding: 10px 0;

	margin-bottom: 15px;

	background: none;
	border: none;
	border: 1px solid rgba(0, 0, 0, 0.25);


	font-size: 16px;
	color: #000000;

	transition: border-color 0.2s linear;
}

.input::placeholder {
	color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition: opacity 0.1s linear;
}
.input:focus {
	outline: none;
	border-bottom-color: rgb(255, 255, 255);
}

.input:focus::placeholder {
	opacity: 0;
}

/* Callback */
.callback__inner {
	display: flex;
	justify-content: center;
}
.callback__form {
	/* display: flex;
	justify-content: center; */
	width: 500px;


	padding: 30px 0;
}
/* .callback__form form {
	display: flex;
	flex-direction: column;
    align-items: flex-end;
} */
.callback__form form>div {
	margin-bottom: 15px;
}

.form__item input, textarea {
	width: 100%;
	padding: 5px;
	border: 1px solid #333;
	outline: none;
	box-sizing: border-box;
	border-radius: 8px;

	background-color: rgba(255, 255, 255, 0.5);

}
.form__item input:focus {

	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.9);
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.checkbox+label {
	display: inline-block;
	align-items: center;
	user-select: none;

	cursor: pointer;
  }
  .checkbox+label::before {
	content: '';
	display: inline-block;
	width: 1.5em;
	height: 1.5em;

	border: 1px solid #333;
	border-radius: 4px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	background-color: rgba(255, 255, 255, 0.5);

	transition: all .1s linear;
  }

  .checkbox:checked+label::before {
	border-color: #0bef62;
	background-color: #0bef62;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }


  
  .checkbox:disabled+label::before {
	background-color: rgba(255, 255, 255, 0.5);
  }

/* @Media */

@media (max-width: 575px) {
	body {
		margin: 15px;
	}
	.page {
		flex-direction: column-reverse;
	}
	.main {
		
		margin: 0 auto;
	}
	.main-content {
		padding: 130px 30px;
		border-radius: 0;
	}

	.header {
		justify-content: center;
	}

	.sidebar {
		
		align-content: center;
		justify-content: center;
		align-items: center;

		border-radius: 26px 26px 0 0;
	}


	.contacts, .tech-skills, .soft-skills {
		margin: 0;
	}

	.modal__content {
		max-width: 180px;
	}
	
	.modal__text {
		font-size: 24px;
	}

}

/* kmap */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 100%;
	}
	
}